@font-face {
    font-family: "Balsamiq Sans";
    src: url(fonts/BalsamiqSansRegular.ttf) format("truetype");
}
body,html {
    font-family: "Balsamiq Sans", Verdana, Tahoma;
}

section {
    padding: 0 !important;
}

button{
    background-color: #FA8423;
    border: 1px solid black !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 2px 2px 0 black;
    -moz-box-shadow:  2px 2px 0 black;
    box-shadow:  2px 2px 0 black;
}


/* Header */

header {
    background: #ccc;
    padding-top: 5px;
}



#header h1 {
    font-size: 2em;

    margin: 0 12px 0 0;
    float: left;
}

#header p {
    font-size: 0.6em;
    float: left;
    margin-top: 13px;
}



header {
    border: 1px solid black;
}


#left-summary {
    padding:0 !important;
    border: 1px solid black;
}

#left-summary #above-table{
    padding-left: 8px
}

#left-summary table{

}

#left-summary #currentRow{
    
}

#left-summary tbody{
    border-bottom: 1px solid black;
}


#left-summary thead td {
    padding-top: 0px;
    padding-bottom: 0px;
}

#left-summary tfoot td {
    color: #9C5013;
}

#left-summary tbody td {
    color: #9C5013;
    padding-right: 20px;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left:10px
}

#guests{
    width:40px;
}

label{
    font-weight: normal;
}

h5{
    font-weight: bold;
}

thead{
    color: #000;
    background-color: #ccc;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
