@font-face {
  font-family: "Balsamiq Sans";
  src: url(fonts/BalsamiqSansRegular.ttf) format("truetype");
}


body, html, .row, .container-fluid {
  font-family: "Balsamiq Sans", Verdana, Tahoma;
  height: 100%;
}

section {
  padding: 0 !important;
  overflow: auto;
}

button {
  background-color: #FA8423;
  border: 1px solid black !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 0 black;
  -moz-box-shadow:  2px 2px 0 black;
  box-shadow:  2px 2px 0 black;
}

a {
    color: inherit;
    outline: none;
}


#wrap {
  padding-top: 70px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 100%;
}

section {
  min-height: 100%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #wrap { 
    padding-top: 56px;
  }
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .right-panel {
    border-left: 1px solid black;
    height: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}




.row {
  overflow-y: auto;
}

/* Header */

header {
  background: #ccc;
  padding-top: 5px;
}

h5 {
  font-weight: bold;
}


#header h1 {
  font-size: 2em;
  margin: 0 12px 0 0;
  float: left;
  color: #000000 !important;
}

#header .tagline {
  color: black;
}



header {
  border-bottom: 1px solid black !important;
}

.front-page {
  background: url('../images/bg.png');
  overflow: hidden;
  height: inherit;
}

#intro {
  margin-top: 40px;
  margin-left: 20px;
  padding: 15px;
  border-radius: 3px 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

#intro label, #intro button {
  float: right;
  margin-right: 10px;
}


#left-summary {
  padding:0 !important;
  margin-bottom: 20px;
}

#left-summary #above-table {
  padding-left: 8px
}

#left-summary table {

}

#left-summary #currentRow {

}

#left-summary tbody {
  border-bottom: 1px solid black;
}


#left-summary thead td {
  padding-top: 0px;
  padding-bottom: 0px;
}

#left-summary tfoot td {
  color: #9C5013;
}

#left-summary tbody td {
  color: #9C5013;
  padding-right: 20px;
  padding-top:4px;
  padding-bottom: 4px;
  padding-left:10px
}

#left-summary #guests{
  width:40px;
}

#left-summary label{
  font-weight: normal;
}

#left-summary thead{
  color: #000;
  background-color: #ccc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


#single-dish {
}

#single-dish #ingredient-list{
  background-color: #FFB070;
  padding:10px;
}

#single-dish p {
  width: 100%;
}

.single-dish-preparation{
  margin-bottom:100px;
}

#dish-details img{
  width:60%;
  height: auto;
}

#dish-details h5{
  font-size: 2em;
}

#dish-details button{
  margin-top: 20px;
  margin-bottom: 20px;
}

#ingredient-list thead td{
  font-weight: bold;
}

#ingredient-list tbody td{
  padding-left: 10px;
  border-top: 1px solid black;
}

#ingredient-list tfoot td{
  border-top: 1px solid black;
}

#dish-form .search, #dish-form #dish-type {
  float: left;
  margin-right: 50px;
}

#select-dish {
  background-color: #FFB070;
  height: 100px;
  padding: 15px;
}
#select-dish #dish-type{
  width: 150px;
}

#dish-list .dish {
  margin-top: 10px;
}

#dish-list .dish p {
  margin-top: 10px;
  font-size: 0.8em;
}

#dish-list .dish img {
  width: 140px;
  height: 140px;
}

#dish-list .dish figcaption{
  text-align: center;
  font-weight: bold;
}

.info-bar {
  background-color: #FFB070;
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.info-bar button {
  margin-top: 20px;
  margin-right: 23px;
}

.summary .total {
  border-left: 1px solid black;
}

.summary .dish-summary {
  height: 200px;
  margin-bottom: 20px;
}

.summary .print-btn {
  width: 100%;
}


#instructions .dish-image, #instructions .dish-name{
  float:left;
}

#instructions .dish-image{
  margin-right: 10px;

}

#instructions .dish-info{
  clear:left;
}

#instructions #dish-info-holder{

}

.margin-down{
  margin-bottom:30px;

}




