<section class="dish-selection" ng-controller="DinnerCtrl">
    <div ng-include="'../partials/left-summary.html'"></div>
    <div id="single-dish" class="right-panel offset-md-3 col-md-9 lab2-4">
        <div class="row">
            <div class="col-md-6" id="dish-details">
                <h5>{{dish.Title}}</h5>
                <img ng-src="{{dish.ImageURL}}"/>
                <p class="single-dish-description">{{dish.Description}}</p>
                <button>{{lang.label.BACK_TO_SELECT}}</button>
                <h5></h5>
                <p class="single-dish-preparation">{{dish.Instructions}}</p>
            </div>
            <div class="col-md-6" id="ingredient-list">
                <table class="table">
                    <thead>
                    <td colspan="3">{{lang.dishdetails.ingredients_header(getNumberOfGuests())}}</td>
                    </thead>
                    <tbody ng-repeat="ingredient in dish.Ingredients">
                        <tr>
                            <td>{{getNumberOfGuests()*ingredient.Quantity}}</td>
                            <td>{{ingredient.Name}}</td>
                            <td>{{lang.general.currency(getNumberOfGuests()*ingredient.Quantity)}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <td colspan="2">
                        <button>{{lang.label.CONFIRM_DISH}}</button>
                    </td>
                    <td>
                    </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>