<section class="dish-selection">
    <div ng-include="'../partials/left-summary.html'"></div>
    <div id="single-dish" class="right-panel offset-md-3 col-md-9 lab2-4">
        <div class="row">
            <div class="col-md-6" id="dish-details">
                <h5></h5>
                <img />
                <p class="single-dish-description"></p>
                <button></button>
                <h5></h5>
                <p class="single-dish-preparation"></p>
            </div>
            <div class="col-md-6" id="ingredient-list">
                <table class="table">
                    <thead>
                    <td colspan="3"></td>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <td colspan="2">
                        <button></button>
                    </td>
                    <td>
                    </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>